*{
    background-color: #ded6db;
}
h1{
    color: #ce7b9a;
}
h2{
    color: #cf2566;
}
h3{
    color: #c7869f;
    font-style: normal;
}
ul{
    color: #fda2d6;
    cursor: pointer;
}
.correct:hover{
    color: #e14088;
}
.wrong:hover{
    color: #AA60C8;
}
